@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

.Container {
    width: 100%;
    margin: 0 auto;
    min-width: 320px;
    max-width: 500px;
    padding: 10%;
}

.search {
    background: #000;
    border-radius: 2px;
    border: none;
    outline: 1px solid #202329;
    height: 64px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;  
    font-weight: 400;
    color: #fff;
    width: 90%;
    padding-left: 10px;
}

.search::placeholder {
    font-size: 1.4rem;
    color: #aaa;
    font-weight: 100;
}